section.textwrap {
	overflow: hidden;
	width: 80%;
	margin-left: 20%;
	margin-top: 5%;
}

.textwrap > ul {
	float :left;
	width: 32.33%;
}

.textwrap > ul:not(:last-child) {
	margin-right: 10px;
}

.textwrap > ul > li {
	margin-bottom: 10px;
	background-color: #cee4ef;
	/* box-sizing: border-box; */
	/* border: 1px solid gray; */
	padding: 20px;
	text-align: left;
}

section.msg {
    position: absolute;
    top: 42px;
    left: 8px;
    font-weight: bold;
    color: #406274;
    transform: rotate(-33deg);
    font-size: 1.4em;
}