body,div,p,section,nav,header,footer,h1,h2,h3,h4,ul,li,a {
    padding:0;
    margin:0;
}
li { list-style : none; }
a {/* text-decoration:none; */}

body {
    width:1080px;
    margin: 0px auto;
    background: #ecf0ee;
}

header , section.main , footer {
    margin:0px auto;
    background-color : #fff;
    padding: 20px 10px;
    box-sizing:border-box;
    margin-bottom: 10px;
}

section.main {
    text-align:center;
    position: relative;
    margin-top:;
}

section.main > * {
    margin-bottom : 20px;
}
section.main > h1 {
    font-size:2em;
    margin-top : 20px;
}
